$blue: #4285f4;
$light-blue: #72a4f7;
$baby-blue: #c6dafb;
$dark-blue: #5b83c5;
$white: hsl(0, 0%, 100%);
$black: #1b1b1e;
$red: #96031a;
$green: #0f9d58;

body {
  margin: 0px;
  overflow-x: hidden;

}
* {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
